################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JsonReader_Lib/.vs
/Read_Json_Content/.vs
